<?xml version="1.0" encoding="UTF-8"?><sv:node xmlns:sv="http://www.jcp.org/jcr/sv/1.0" sv:name="events">
  <sv:property sv:name="jcr:primaryType" sv:type="Name">
    <sv:value>hippostd:folder</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
    <sv:value>hippotranslation:translated</sv:value>
    <sv:value>mix:referenceable</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:uuid" sv:type="String">
    <sv:value>5e81c718-35bd-48f4-b715-34f53acdf8b6</sv:value>
  </sv:property>
  <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
    <sv:value>new-events-folder</sv:value>
    <sv:value>new-events-document</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:id" sv:type="String">
    <sv:value>745d1c4a-f9b4-4cec-ad49-2bef54b0a40c</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:locale" sv:type="String">
    <sv:value>en</sv:value>
  </sv:property>
  <sv:node sv:name="2015">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippostd:folder</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
      <sv:value>hippotranslation:translated</sv:value>
      <sv:value>mix:referenceable</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:uuid" sv:type="String">
      <sv:value>a23d7d61-ed0d-4b18-ba5d-54d1f5f30a57</sv:value>
    </sv:property>
    <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
      <sv:value>new-events-folder</sv:value>
      <sv:value>new-events-document</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:id" sv:type="String">
      <sv:value>be139274-263b-4e35-8e90-a7dc2708ef0d</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:locale" sv:type="String">
      <sv:value>en</sv:value>
    </sv:property>
    <sv:node sv:name="02">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippostd:folder</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>hippotranslation:translated</sv:value>
        <sv:value>mix:referenceable</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>697ce76e-81ec-40ad-98a4-81e28dc87fc6</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
        <sv:value>new-events-folder</sv:value>
        <sv:value>new-events-document</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>b8aa89c2-b478-4d07-a08f-0fdc90358abc</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>en</sv:value>
      </sv:property>
      <sv:node sv:name="breakfast">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>b8f5eb45-7200-452a-b26e-3118a0dc60b8</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="breakfast">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>scc:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>4742204c-d375-4f74-9af2-64e4592ab406</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2015/02/breakfast</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:11:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>fc594d65-9ef8-4397-bc9c-3a84b73f7e0c</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="scc:date" sv:type="Date">
            <sv:value>2013-11-12T08:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="scc:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="scc:enddate" sv:type="Date">
            <sv:value>2016-02-12T15:47:00.000+08:00</sv:value>
          </sv:property>
          <sv:property sv:name="scc:introduction" sv:type="String">
            <sv:value>Start the day with a nice breakfast.</sv:value>
          </sv:property>
          <sv:property sv:name="scc:location" sv:type="String">
            <sv:value>Room 101</sv:value>
          </sv:property>
          <sv:property sv:name="scc:title" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
          <sv:node sv:name="scc:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;

          &lt;p&gt;Breakfast is served starting from 8:00 until 9:30.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="scc:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>c8f03498-56eb-46c9-83b2-cf014f2e03d7</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="breakfast">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>scc:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>c690d0e1-47c9-4ea5-9dd5-13f34539359d</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true"/>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2015/02/breakfast/breakfast</sv:value>
            <sv:value>events/2015/02/breakfast</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>draft</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2015-02-17T10:36:13.122+08:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>fc594d65-9ef8-4397-bc9c-3a84b73f7e0c</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="scc:date" sv:type="Date">
            <sv:value>2013-11-12T08:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="scc:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="scc:enddate" sv:type="Date">
            <sv:value>2016-02-12T15:47:00.000+08:00</sv:value>
          </sv:property>
          <sv:property sv:name="scc:introduction" sv:type="String">
            <sv:value>Start the day with a nice breakfast.</sv:value>
          </sv:property>
          <sv:property sv:name="scc:location" sv:type="String">
            <sv:value>One Marina Boulevard</sv:value>
          </sv:property>
          <sv:property sv:name="scc:title" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
          <sv:node sv:name="scc:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;p&gt;Breakfast is served starting from 8:00 until 9:30.&lt;/p&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="scc:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>c8f03498-56eb-46c9-83b2-cf014f2e03d7</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
      <sv:node sv:name="introduction-speech">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>18e36c35-429d-4fee-b76e-eeabcbfc08bb</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="introduction-speech">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>scc:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>90b6f533-9cfb-46a1-a456-e9a5f359a534</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2015/02/introduction-speech</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:02:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>08d46043-1b85-46a4-b972-498d9b41ce6f</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="scc:date" sv:type="Date">
            <sv:value>2013-11-12T10:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="scc:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="scc:enddate" sv:type="Date">
            <sv:value>2016-02-12T15:47:00.000+08:00</sv:value>
          </sv:property>
          <sv:property sv:name="scc:introduction" sv:type="String">
            <sv:value>After breakfast there will be an introductory speech.</sv:value>
          </sv:property>
          <sv:property sv:name="scc:location" sv:type="String">
            <sv:value>Room 400</sv:value>
          </sv:property>
          <sv:property sv:name="scc:title" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
          <sv:node sv:name="scc:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;

          &lt;p&gt;Speech will be about the workshop.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="scc:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>9f32434e-84e3-4150-a6f2-d89a67be2fb1</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
      <sv:node sv:name="workshop">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>7a29ec60-2689-48b2-aca2-49696c5c23eb</sv:value>
        </sv:property>
        <sv:node sv:name="workshop">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>scc:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>1bf55696-fc82-494a-9904-725706fd6b74</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2015/02/workshop</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:18:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>edf75af5-4626-4a24-9fe3-772fc82428e5</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="scc:date" sv:type="Date">
            <sv:value>2013-11-12T13:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="scc:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="scc:enddate" sv:type="Date">
            <sv:value>2016-02-12T15:47:00.000+08:00</sv:value>
          </sv:property>
          <sv:property sv:name="scc:introduction" sv:type="String">
            <sv:value>Workshop starts at 1:00</sv:value>
          </sv:property>
          <sv:property sv:name="scc:location" sv:type="String">
            <sv:value>Room 600</sv:value>
          </sv:property>
          <sv:property sv:name="scc:title" sv:type="String">
            <sv:value>Workshop</sv:value>
          </sv:property>
          <sv:node sv:name="scc:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;
          &lt;strong&gt;Everybody &lt;/strong&gt;
          &lt;p&gt;can join the workshop and start practicing what they learned during the last
          week.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="scc:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>d035387b-f9ce-49f6-bcb0-9ab6915a2d5f</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
    </sv:node>
  </sv:node>
  <sv:node sv:name="company-game">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippo:handle</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
      <sv:value>mix:referenceable</sv:value>
      <sv:value>hippo:translated</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:uuid" sv:type="String">
      <sv:value>95ab47f3-c6af-4684-9049-211c0b2d3579</sv:value>
    </sv:property>
    <sv:node sv:name="company-game">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>scc:eventsdocument</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>mix:referenceable</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>febd6819-2b04-4743-90bd-9ed96076e9aa</sv:value>
      </sv:property>
      <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true"/>
      <sv:property sv:name="hippo:related___pathreference" sv:type="String">
        <sv:value>events/company-game/company-game[3]</sv:value>
        <sv:value>events/company-game/company-game[2]</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:state" sv:type="String">
        <sv:value>draft</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:stateSummary" sv:type="String">
        <sv:value>live</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
        <sv:value>admin</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
        <sv:value>2015-02-12T16:04:55.846+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
        <sv:value>2015-02-12T16:04:56.793+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
        <sv:value>admin</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>c83bb58b-08af-4940-b381-a7288350968c</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>en</sv:value>
      </sv:property>
      <sv:property sv:name="scc:date" sv:type="Date">
        <sv:value>2015-02-12T00:00:00.000+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="scc:documenttype" sv:type="String">
        <sv:value>event</sv:value>
      </sv:property>
      <sv:property sv:name="scc:enddate" sv:type="Date">
        <sv:value>2015-02-13T00:00:00.000+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="scc:introduction" sv:type="String">
        <sv:value>Price is cascava chips</sv:value>
      </sv:property>
      <sv:property sv:name="scc:location" sv:type="String">
        <sv:value>Company office</sv:value>
      </sv:property>
      <sv:property sv:name="scc:title" sv:type="String">
        <sv:value>Company game</sv:value>
      </sv:property>
      <sv:node sv:name="scc:content">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippostd:html</sv:value>
        </sv:property>
        <sv:property sv:name="hippostd:content" sv:type="String">
          <sv:value>&lt;p&gt;Game on iPad&lt;/p&gt; 
&lt;p&gt;Open to everyone&lt;/p&gt; 
&lt;p&gt;General knowledge&lt;/p&gt; 
&lt;p&gt;&amp;nbsp;&lt;/p&gt;</sv:value>
        </sv:property>
      </sv:node>
      <sv:node sv:name="scc:image">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippogallerypicker:imagelink</sv:value>
        </sv:property>
        <sv:property sv:name="hippo:docbase" sv:type="String">
          <sv:value>6f120286-3ace-4729-adff-e6cf9e4d2276</sv:value>
        </sv:property>
        <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
        <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
        <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
      </sv:node>
    </sv:node>
    <sv:node sv:name="hippo:translation">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippo:translation</sv:value>
      </sv:property>
      <sv:property sv:name="hippo:language" sv:type="String">
        <sv:value/>
      </sv:property>
      <sv:property sv:name="hippo:message" sv:type="String">
        <sv:value>Company game</sv:value>
      </sv:property>
    </sv:node>
    <sv:node sv:name="company-game">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>scc:eventsdocument</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>mix:versionable</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>6aeb212d-f3a3-4043-9aa9-853d4e5064a4</sv:value>
      </sv:property>
      <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
        <sv:value>preview</sv:value>
      </sv:property>
      <sv:property sv:name="hippo:related___pathreference" sv:type="String">
        <sv:value>events/company-game/company-game[3]</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:state" sv:type="String">
        <sv:value>unpublished</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:stateSummary" sv:type="String">
        <sv:value>live</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
        <sv:value>admin</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
        <sv:value>2015-02-12T16:04:55.846+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
        <sv:value>2015-02-12T16:06:52.941+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
        <sv:value>admin</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>c83bb58b-08af-4940-b381-a7288350968c</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>en</sv:value>
      </sv:property>
      <sv:property sv:name="scc:date" sv:type="Date">
        <sv:value>2015-02-12T00:00:00.000+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="scc:documenttype" sv:type="String">
        <sv:value>event</sv:value>
      </sv:property>
      <sv:property sv:name="scc:enddate" sv:type="Date">
        <sv:value>2015-02-13T00:00:00.000+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="scc:introduction" sv:type="String">
        <sv:value>Price is cascava chips</sv:value>
      </sv:property>
      <sv:property sv:name="scc:location" sv:type="String">
        <sv:value>Company office</sv:value>
      </sv:property>
      <sv:property sv:name="scc:title" sv:type="String">
        <sv:value>Company game</sv:value>
      </sv:property>
      <sv:node sv:name="scc:content">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippostd:html</sv:value>
        </sv:property>
        <sv:property sv:name="hippostd:content" sv:type="String">
          <sv:value>&lt;p&gt;Game on iPad&lt;/p&gt; 
&lt;p&gt;Open to everyone&lt;/p&gt; 
&lt;p&gt;General knowledge&lt;/p&gt; 
&lt;p&gt;&amp;nbsp;&lt;/p&gt;</sv:value>
        </sv:property>
      </sv:node>
      <sv:node sv:name="scc:image">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippogallerypicker:imagelink</sv:value>
        </sv:property>
        <sv:property sv:name="hippo:docbase" sv:type="String">
          <sv:value>6f120286-3ace-4729-adff-e6cf9e4d2276</sv:value>
        </sv:property>
        <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
        <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
        <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
      </sv:node>
    </sv:node>
    <sv:node sv:name="company-game">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>scc:eventsdocument</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>mix:referenceable</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>1d7e5a78-9c9a-4d0c-8d1f-06f300e6e40c</sv:value>
      </sv:property>
      <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
        <sv:value>live</sv:value>
      </sv:property>
      <sv:property sv:name="hippo:related___pathreference" sv:type="String">
        <sv:value>events/company-game/company-game[2]</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:state" sv:type="String">
        <sv:value>published</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:stateSummary" sv:type="String">
        <sv:value>live</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
        <sv:value>admin</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
        <sv:value>2015-02-12T16:04:55.846+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
        <sv:value>2015-02-12T16:06:52.941+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
        <sv:value>admin</sv:value>
      </sv:property>
      <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
        <sv:value>2015-02-12T16:06:56.177+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>c83bb58b-08af-4940-b381-a7288350968c</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>en</sv:value>
      </sv:property>
      <sv:property sv:name="scc:date" sv:type="Date">
        <sv:value>2015-02-12T00:00:00.000+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="scc:documenttype" sv:type="String">
        <sv:value>event</sv:value>
      </sv:property>
      <sv:property sv:name="scc:enddate" sv:type="Date">
        <sv:value>2015-02-13T00:00:00.000+08:00</sv:value>
      </sv:property>
      <sv:property sv:name="scc:introduction" sv:type="String">
        <sv:value>Price is cascava chips</sv:value>
      </sv:property>
      <sv:property sv:name="scc:location" sv:type="String">
        <sv:value>Company office</sv:value>
      </sv:property>
      <sv:property sv:name="scc:title" sv:type="String">
        <sv:value>Company game</sv:value>
      </sv:property>
      <sv:node sv:name="scc:content">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippostd:html</sv:value>
        </sv:property>
        <sv:property sv:name="hippostd:content" sv:type="String">
          <sv:value>&lt;p&gt;Game on iPad&lt;/p&gt; 
&lt;p&gt;Open to everyone&lt;/p&gt; 
&lt;p&gt;General knowledge&lt;/p&gt; 
&lt;p&gt;&amp;nbsp;&lt;/p&gt;</sv:value>
        </sv:property>
      </sv:node>
      <sv:node sv:name="scc:image">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippogallerypicker:imagelink</sv:value>
        </sv:property>
        <sv:property sv:name="hippo:docbase" sv:type="String">
          <sv:value>6f120286-3ace-4729-adff-e6cf9e4d2276</sv:value>
        </sv:property>
        <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
        <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
        <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
      </sv:node>
    </sv:node>
  </sv:node>
</sv:node>
